<div class="jumbotron text-center" ng-controller="homeCtrl as home">
    <div class="container">
        What's your name? <input type="text" ng-model="name"> </input>
        <h1>Smart money for creatives</h1>
        <h3>... because it's your money ... {{ name | uppercase }}</h3>
        <img src="http://i306.photobucket.com/albums/nn260/roosterwooster/tiger.jpg" alt="tiger" style= "padding: 10px; width: 60%">
        <!-- button to budget-->
        <!-- experimenting, need to load a view, not a view in the space-->
        <div ng-controller="aboutCtrl">
            <button ng-click="template='app/views/pages/about.html'">Get Started!</button>
            <div ng-include src="template"></div>
        </div>

        <div>
            <p>Just because you're a writer, artist, musician, art historian ... you get the idea ... doesn't mean a lifetime of scraping by. Save, invest and budget with TigerApp.</p>
        </div>
    </div>
</div>

<!-- bottom third of the page -->
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Illustration</h2>
            <p>
                <a href="http://photobucket.com/" target="_blank">
                    <img src="http://i306.photobucket.com/albums/nn260/roosterwooster/leoflores.jpg" border="2" height="200" width="200" alt=" photo leoflores.jpg" />
                </a>
            </p>
            <p><a class="btn btn-default" href="#" role="button">By Leo Flores</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Illustration</h2>
            <p>
                <a href="http://photobucket.com/" target="_blank">
                    <img src="http://i306.photobucket.com/albums/nn260/roosterwooster/laurahughes.jpg" border="2" height="200" width="200" alt=" photo laurahughes.jpg" />
                </a>
            </p>
            <p><a class="btn btn-default" href="#" role="button">By Laura Hughes</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Photography</h2>
            <p>
                <a href="http://photobucket.com/" target="_blank">
                    <img src="http://img.photobucket.com/albums/v435/ocinrime/IMG_0932.jpg" border="2" height="200" width="200" alt=" photo laurahughes.jpg" />
                </a>
            </p>
            <p><a class="btn btn-default" href="#" role="button">By Ralia</a>
            </p>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><i>Reborn</i> by Ben Jahn of Richmond</h2>
            <p>At the Reborn Convention at the Creektown Holiday Inn, the women mill and mingle, fawn over mohair follicles, blue-blotched underpainting, voice-boxes uploaded with found sound. Distant crying. Summer afternoon nap meltdowns. I'm the
                only man, and I sense their suspicion. I feel lost. I eat a tasteless finger sandwich. I touch a doll with the back of my hand. A pamphlet explains: Real Baby Heater Systems.</p>
            <p><a class="btn btn-default" href="http://www.npr.org/2013/06/09/189330731/three-minute-fiction-the-round-11-winner-is" role="button">Read</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2><i>Pomelo</i> by Sara Maria Greene</h2>
            <p>The man was so beautiful. He appeared to be stepping out of the ad on the side of the bus, his hair illuminated in sun. Amelia saw the little slip of paper burst from his pocket when he pulled out his keys. It flipped in the air once,
                twice before it caught against the cement stairs right in front of her. She quickly shut her mailbox with the very tiny key that made her feel oversized and fumbling.

            </p>
            <p><a class="btn btn-default" href="http://www.npr.org/2013/06/08/187905504/the-pomelo" role="button">Read</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2><i>Sorry for Your Loss</i> by Lisa Rubenson</h2>
            <p>Hi, it's me — Christine. I can't believe you still have this number. That I still remember it. But there's your voice on the machine ... like no time has passed. I'm so sorry for your loss, Nick, for your mom. Can anyone else hear this?
                [PRESS # TO ERASE AND RERECORD YOUR MESSAGE] # Hi Nick, it's Christine. Christine Williams. Remember? It's been a long time. I called because — I know it's tough right now. I'm sorry to hear about the death of ... that your mom passed
                — try and say something real. [PRESS # TO ERASE AND RE-RECORD YOUR MESSAGE]</p>
            <p><a class="btn btn-default" href="http://www.npr.org/2013/03/09/173722517/sorry-for-your-loss" role="button">Read</a>
            </p>
        </div>
    </div>
</div>


<hr>
<footer>
    <p><a href="http://www.SherriBerryApps.com">&copy; SherriBerryApps 2015</a>
    </p>
</footer>
